
.container{
     background-color: antiquewhite; 
     width: 300vh;
    
}
input{
    border: none;
    outline: none;
    padding: 10px 15px; 
    border-radius: 3px; 

}
button:hover{
   background-color: rgb(235, 174, 95);
   border: none;
   outline: none;
   
}
.u{
    background-color: aliceblue;
    padding: 10px 100px;
}
.u:hover{
    background-color: rgb(235, 174, 95);

}
li{
    list-style: none;
    border: 2px  solid black;
    background-color: aliceblue;
    padding: 5px 10px 5px 20px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: 5px;
    border-radius: 5px;
    
}
.o{
    margin-left: 325px;
    padding: 2px 30px;
    margin-right: 10px;
}
.oo{
    padding: 2px 30px;
}
.h{
 text-align: center;
}
.h1{
    position: sticky;
    top: 140px;
    margin-left: 280px;
}
.i{
    margin-left: -80px;
        padding: 10px 70px 10px 50px;
        border: none;
}  
.j{
    margin-left: -10px;
}
.e{
    margin-left: 710px;
    margin-top: -135px;
}