header{
    background-color: rgb(137, 226, 144);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
li{
    list-style: none;
}
 nav ul {
    display: flex;
    column-gap: 40px;
}    
h1{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
    color: blueviolet;
    text-transform: uppercase;
}
