header{
    background-color: rgb(185, 250, 250);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
li{
    list-style: none;
}
nav ul{
    display: flex;
    column-gap: 40px;
}